@font-face {
    font-family: "URWGothic-Book";
    src: url("../assets/fonts/URWGothic-Book.ttf") format("truetype");
}

html * {
    font-size: 20px;
    font-family: "URWGothic-Book", monospace, sans-serif;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

#page-title {
  
    height: 30px;
    display: flex;
    margin-top: 30px;
}

#page-title-block-left {
    width: 60px;
    height: 24px;
    background-color: rgb(46, 48, 63);
    border-width: 3px;
    border-color: rgb(100,100,112) rgb(32,31,36) rgb(32,31,36) rgb(100,100,112) ;
    border-style: solid;
}

#page-title-block-center {
    width: 1px;
    height: 18px;
    background-color: rgb(184, 178, 250);
    position: relative;
    top: 3px;
    box-shadow: 0 0 21px magenta;
    border-width: 2px;
    border-color: rgb(242,234,255) rgb(184, 178, 250) rgb(184, 178, 250) rgb(242,234,255);
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
}

#page-title-block-right {
    width: 200px;
    height: 24px;
    background-color: rgb(37, 38, 40);
    display: flex;
    align-items: center;
    border-bottom-right-radius: 20px;
    padding-left: 40px;
    color: rgb(212, 207, 207);
    border-width: 3px;
    border-color: rgb(61,60,65) rgb(22,21,26) rgb(22,21,26) rgb(61,60,65) ;
    border-style: solid;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 100px;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: rgb(226, 220, 255);
    border-color: rgb(78, 79, 81);
    border-width: 3px;
    border-style: solid;
    background-color: rgb(37, 37, 39);
}

th {
    background-image: linear-gradient(to right, rgb(57, 57, 83), rgb(37, 37, 39));
    color: rgb(184, 178, 250);
}

.green-text {
    color: rgb(141, 211, 203);
}
.white-text {
    color: rgb(247, 248, 252);
}

#changelog table{
    width: 500px;
}
#blog-posts table{
    width: 600px;
}

/*
 box-shadow: 0 0 20px magenta;
bordercolapse on hover

rgb(20,21,23)

*/