@font-face {
  font-family: "MGS2MENU";
  src: url("../assets/fonts/MGS2MENU.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --green-primary: #63806e;
  --green-secondary: #3b483d;
}

html * {
  font-family: "MGS2MENU", sans-serif;
  font-weight: normal;
  scrollbar-width: none;
  color: var(--green-secondary);
  font-size: 20px;
}

html,
body {
  height: 100vh;
  margin: 0;
  background-color: black;
}

#top-box {
  border-left: 2px solid var(--green-primary);
  margin-left: 5%;
  height: 8.7%;
}

#middle-box {
  border-bottom: 2px solid var(--green-primary);
  height: 80%;
  width: 100%;
  display: flex;
}

#middle-left {
  border-top: 2px solid var(--green-primary);
  border-right: 2px solid var(--green-primary);
  height: 100%;
  width: 5%;
}

#middle-right {
  border-top: 2px solid var(--green-primary);
  background-color: var(--green-secondary);
  width: 5%;
}

main {
  border-left: 2px solid var(--green-primary);
  border-right: 2px solid var(--green-primary);
  border-top: 2px solid var(--green-primary);
  height: 100%;
  width: 85%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  margin-top: 5px;
  padding: 0 0px 0 10px;
}

li:before {
  content: "▆";
  opacity: 0;
  margin: 0;
  left: -2.6%;
  position: relative;
  bottom: 9px;
}

ul li:hover:before {
  opacity: 1;
  color: var(--green-primary);
}

a {
  text-decoration: none;
  width: 100%;
}

a:hover {
  color: var(--green-primary);
}

#bottom-box {
  border-right: 2px solid var(--green-primary);
  height: 11%;
  width: 5%;
}
