html * {
  font-size: 16px;
  font-family: MS PGothic, monospace, sans-serif;
  font-weight: normal;
  color: white;
  scrollbar-width: none; /* Remove scrollbars on Firefox */
}
/* Remove scrollbars on WebKit browsers */
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
/* CRT with Divers UI */
#frame {
  position: relative;
  width: 742px;
  height: 577px;
  background: url("images/frame.png") no-repeat center center;
  background-size: cover;
}
/* About me sidebar */
#sidebar {
  position: absolute;
  width: 130px;
  height: 234px;
  top: 82px;
  right: 82px;
}
#sidebar-avatar {
  position: absolute;
  width: 130px;
  height: 130px;
  background: rgba(0, 255, 128, 0.5);
}
#sidebar-header {
  position: absolute;
  width: 130px;
  height: 28px;
  top: 130px;
  right: 0;
  background: url("images/sidebar-header.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar-content {
  position: absolute;
  width: 130px;
  height: 76px;
  top: 158px;
  right: 0;
  box-sizing: border-box;
  padding: 10px 6px;
}
#sidebar-content p {
  padding: 0;
  margin: 0;
  text-align: justify;
  text-align-last: justify;
}
/* Main content */
#main {
  position: absolute;
  width: 418px;
  height: 274px;
  top: 74px;
  left: 66px;
  overflow-y: scroll;
}
/* Posts */
.post-header {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
}
.post-header h1 {
  margin: 0;
  color: #fa5692;
}
.post-content {
  padding: 0px 10px;
}
.post-content p {
  margin: 0px;
  text-align: justify;
}
.post-footer {
  text-align: center;
}
/* Footer */
#footer {
  position: absolute;
  width: 382px;
  height: 62px;
  bottom: 143px;
  left: 84px;
}
#marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
}
#marquee-text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
  text-transform: uppercase;
  margin: 0;
  color: #fa5692;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
/* Marquee displaying nav-item info on hover */
#marquee-nav-info {
  position: absolute;
  width: 376px;
  height: 62px;
  bottom: 0px;
  visibility: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 6px;
}
/* Navigation panel */
#navigation {
  position: absolute;
  width: 79px;
  height: 79px;
  bottom: 150px;
  right: 123px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: relative;
}
#nav-item-home {
  background: url("images/home.png") no-repeat center center;
}
#nav-item-about {
  background: url("images/about.png") no-repeat center center;
}
#nav-item-links {
  background: url("images/links.png") no-repeat center center;
}
#nav-item-music {
  background: url("images/music.png") no-repeat center center;
  cursor: pointer;
}
.nav-item a {
  position: absolute;
  inset: 0;
  display: block;
}
