html * {
  font-size: 16px;
  font-family: MS PGothic, monospace, sans-serif;
  font-weight: normal;
  color: white;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

#frame {
  position: relative;
  width: 742px;
  height: 577px;
  background: url("images/frame.png") no-repeat center center;
  background-size: cover;
}

#sidebar {
  position: absolute;
  width: 130px;
  height: 234px;
  top: 82px;
  right: 82px;
}

#sidebar-avatar {
  position: absolute;
  width: 130px;
  height: 130px;
  background: rgba(0, 255, 128, 0.5);
}

#sidebar-header {
  position: absolute;
  width: 130px;
  height: 28px;
  top: 130px;
  right: 0;
  background: url("images/sidebar-header.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar-content {
  position: absolute;
  width: 130px;
  height: 76px;
  top: 158px;
  right: 0;
  box-sizing: border-box;
  padding: 10px 6px;
}
#sidebar-content p {
  padding: 0;
  margin: 0;
  text-align: justify;
  text-align-last: justify;
}

#test-div {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(255, 0, 0, 0.5);
  top: 50px;
  left: 100px;
}