html * {
  font-size: 16px;
  font-family: MS PGothic, monospace, sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.frame {
  position: relative;
  width: 742px;
  height: 577px;
  background: url("images/frame.png") no-repeat center center;
  background-size: cover;
}

.test-div {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(255, 0, 0, 0.5);
  top: 50px;
  left: 100px;
}

.test-div2 {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 255, 0.5);
  bottom: 40px;
  right: 80px;
}
