@font-face {
  font-family: "Perfect DOS VGA 437";
  src: url("/assets/fonts/Perfect DOS VGA 437.ttf") format("truetype");
}

html * {
  font-family: "Perfect DOS VGA 437", monospace, sans-serif;
}

body {
  background: black;
}

#container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
}

#container div {
  text-align: center;
}

#title {
  color: black;
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  line-height: 1.6;
  text-align: justify;
}

a {
  text-decoration: underline;
}

.bg-orange {
  background-color: orange;
}

.bd-orange {
  border-color: orange;
}

.text-orange {
  color: orange;
}

.text-orange a {
  color: orange;
}
